.text{
    text-align: center;
    font-size: 20pt;
    color:black;
    padding:5%;
}
.button-submit{
    padding: 8px;
    margin:8px;
    background-color:#373d42;
    color:white;
    border-radius: 9px;
}
.form-submit{
    text-align: center;

}

