* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #081217;
  display:grid;
  grid-template-columns: 300px auto 300px;
}


.logo{
  font-size: 25px;
  font-weight: bold;
  color:#f0f0f0;
  padding-top: 10px;
  padding-left:15px;
  grid-column: 1;
}

.popup-styles{
  background-color:#202d3f;
  color: white;
  border-radius: 5px;
  margin-right:5px;
  height:50px;
  padding:10px;
 
}

.header-right {
  grid-column:3;
  display:flex;
}

.about-button{
 width:150px;
 width:100%;
 margin:5px;
}

.popup-styles-about{
  background-color:#202d3f;
  color: white;
  border-radius: 5px;
  margin-right:5px;
  height:50px;
  width:100%;
  
}

.add-city-button{
  width:150px;
  width:100%;
  margin:5px;
}

.popup-styles-addcity{
  background-color:#202d3f;
  color: white;
  border-radius: 5px;
  margin-right:5px;
  height:50px;
  width:100%;
}

.wrapper {
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
}

.wrapper-form{
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
}
.form-styles{
  width:300px;
  padding-top:50px;
}

.image-wrapper{
  position: relative;
  height:200px;
}

.city-styles{
  width: 98px;
  color:#f0f0f0;
  padding:5px;
}

.images{
  width:80px;
  height: 80px;
  border-radius:10px;
}
input[type=text], input[type=number], select {
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.comments{
  width:100%;
  font-size: 12px;
}
.button-style{
  border-radius: 4px;
}
.align-submit-bttn{
  text-align: center;
}

.button-delete{
  width:100%;
  font-size: 10px;
  border-radius:4px;
}
.city-flex{
  display:flex;
  flex-wrap: wrap;
  height:535px;
}
.content-div{
  position: absolute;
}
.popup{
  height:190px;
} 
.img{
  height:100px;
  width:150px;
}

.about-project{
  font-size: 15px;
  color:#f0f0f0;
  background-color: #202d3f;
  border-radius: 5px;
  margin-top:10px;
  width:300px;
  text-align: justify;
  padding:10px;
}

@media only screen and (max-width:777px) {

  .header{
    display:grid;
    grid-template-columns:  100px auto 100px;
    grid-template-rows: 60px 70px;
  }

  .logo{
    font-size: 25px;
    font-weight: bold;
    color:#f0f0f0;
    padding-top: 10px;
    padding-left:15px;
    grid-row: 1;
    grid-column: 2;
    text-align: center;
  }
  .header-right {
    grid-row:2;
    grid-column:2;
    display:flex;
  }
}

@media only screen and (max-width:500px){
  .header{
    display:grid;
    grid-template-columns:  auto auto auto;
    grid-template-rows: 60px 60px;
  }

  .logo{
    font-size: 15px;
    font-weight: bold;
    color:#f0f0f0;
    padding-top: 10px;
    padding-left:15px;
    grid-row: 1;
    grid-column: 2;
    text-align: center;
  }

  .add-city-button{
    display:none;
  }

  .about-button{
    height:30px;
  }
  
}