.search-bar{
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom:10%;
}

.text{
    text-align: center;
    font-size: 0pt;
    color:white;
    padding:5%;
    font-family: 'Permanent Marker', cursive;
}
.search-button2{
    background-color:#373d42;
    color:white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding:10pt;
}

.search-button2:hover{
    color:#fdc12e;
}

.search-button{
    background-color:#373d42;
    color:white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding:3pt;
}
