/* ================================= 
  Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font: 1em/1.5 'Roboto', sans-serif;
  color: #4c4c4c;
  background: #f6f7f7;
  padding-bottom: 3em;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}



/* ================================= 
  Page Components
==================================== */

.main-title {
  font-size: 1.4em;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}
.form{
  background-color:#f6f7f7;
}
.search-form input:only-of-type {
  width: 100%;
  margin-right: -40px;
  padding-right: 35px;
}

.search-button {
  float: right;
  margin-right: -10px;
}

.icn-search {
  font-weight: 700;
}

.icon-img {
  font-size: 6em;
  margin-bottom: 0;
  color: #7bcbc4;
  display: block;
}

.no-imgs  {
  color: #7bcbc4;
  height: 140px;
  padding-top: 62px;
  text-align: center;
  font-size: 1.25em;
}

.img-list a {
  display: block;
  margin: auto;
}

.img-wrap {
  background-color: #f6f7f7;
  margin-bottom: .8em;
  position: relative;
}

.img-wrap img {
  min-width: 100%;
}

.download-btn, .save-btn{
  font-weight:bold;
  margin-top:5px;
  padding:4px;
  margin:8px;
  background-color:#4c4c4c;
  color:white;
  border-radius: 9px;
  border: 2px solid lightslategray;

}
.download-btn:hover{
  color:#fdc12e;

}
.save-btn:hover{
  color:#fdc12e;
}


/* ================================= 
  Layout Styles
==================================== */

.inner,
.main-content {
  width: 90%;
  max-width: 1025px;
  margin: auto;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  min-height: 80px;
  z-index: 1000;
}

.main-content::after {
  content: " ";
  display: table;
  clear: both;
}

.is-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media (min-width: 0) and (max-width: 549px) {
  .img-list li {
    text-align: center;
    margin: 20px 0 0;
    font-size: 0;
  }
}

@media (min-width: 550px) {
  .img-list li {
    float: left;
    width: 50%;
    margin: 0;
  }
  .img-wrap img {
    height: 335px;
    width:100%;
  }
  .img-list .no-imgs {
    float: none;
    width: 100%;
  }
  .img-wrap {
    border: 5px solid #f6f7f7;
    padding: 0;
    font-size: 10;
    text-align: center;
  }
  .button{
    padding: 8px;
    margin:8px;
    background-color:#373d42;
    color:white;
    border-radius: 9px;
  }
}

@media (min-width: 769px) {
  .main-title {
    float: left;
  }
  .search-form {
    width: 422px;
    float: right;
    margin-top: 34px;
  }
  .img-list li {
    width: 33.333333333%;
  }
}

@media (min-width: 769px) { 
  .img-list li:nth-of-type(3n+1) {
    clear: left;
  }
}

