@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");
* {
  font-family: "Work Sans", sans-serif;
}

d body {
  background-color: #ffffff;
}

aside {
  background-color: #ffb366;
}

main {
  background-color: #0b090c;
}

.noBullets {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.noBullets li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.socialLinks li {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}
.socialLinks li a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  outline: 0;
}
.socialLinks .icon {
  height: 40px;
  width: 40px;
  border: 1px solid #0b090c;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #ffb366;
  background-color: black;
  border-radius: 500px;
  outline: 0;
}
.socialLinks .icon:hover {
  background-color: #18141b;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0b090c;
  font-size: 20px;
}

.profileImage {
  height: 500px;
  overflow: hidden;
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileImage::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(255, 179, 102, 0.25);
}
.profileImage img {
  height: 500px;
  filter: grayscale(100%);
  margin: auto;
}

.bottomSection .name {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #0b090c;
  margin-bottom: 20px;
  position: relative;
  border-bottom: 1px solid rgba(11, 9, 12, 0.25);
}

.timeline .block {
  color: #ffb366;
  position: relative;
  padding: 10px 0;
}
.timeline .block:not(:last-child) {
  border-bottom: 1px solid #ad5700;
}
.timeline .block:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 46px;
  bottom: 0;
  left: -1.5rem;
  margin: auto;
  height: 100%;
  width: 2px;
  background-color: orange;
}
.timeline .block .heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  position: relative;
}
.timeline .block .heading::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: orange;
  border-radius: 500px;
  top: 12px;
  left: -28px;
}
.timeline .block .subHeading {
  font-size: 16px;
  font-weight: normal;
  margin: 10px auto 2px;
  position: relative;
}
.timeline .block .subHeading::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  box-sizing: border-box;
  background-color: #0b090c;
  border-radius: 500px;
  border: 1px solid #ffb366;
  top: 8px;
  left: -27px;
}

.skillBlock {
  margin: 10px auto;
}
.skillBlock .circularProgress {
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  border-radius: 500px;
  position: relative;
  margin: 20px auto;
}
.skillBlock .circularProgress::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 90%;
  width: 90%;
  border: 5px solid #cc6700;
  border-radius: 500px;
  z-index: 1;
  background-color: #0b090c;
}
.skillBlock .circularProgress .icon {
  height: 80px;
  width: 80px;
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.skillBlock .skill {
  text-align: center;
  margin: 10px auto;
  text-transform: uppercase;
  font-size: 14px;
}

@media (min-width: 992px) {
  .profileWrapper aside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 400px;
  }
  .profileWrapper main {
    padding: 20px;
    margin-left: 400px;
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
