@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

*{
    font-family: "Work Sans", sans-serif;
}
@function rem($value){
    @return unquote(($value/1px)/16+"rem")
}
$black:#0b090c;
$orange:#ffb366;
$white: #ffffff;
d
body{
    background-color: $white;
}

aside{
    background-color: $orange
;
}

main {
    background-color: $black;
}

.noBullets{
    padding:0;
    margin:0;
    list-style-type:none;
    li{
        margin-top:5px;
        margin-bottom:5px;
    }
}
.socialLinks{
    li{
        display:flex;
        align-items: center;
        width:100%;
        padding-bottom: 10px;
        a {
            width:100%;
            display:flex;
            align-items: center;
            justify-content: center;
            padding:10px;
            outline:0;
        }
    }
    .icon{
        height:40px;
        width:40px;
        border:1px solid $black;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color:$orange
    ;
        background-color: black;
        border-radius:500px;
        outline:0;
        &:hover{
            background-color: lighten($black,5%);
        }

    }
}

.email {
    display:flex;
    justify-content: center;
    align-items: center;
    color:$black;
    font-size:20px;
}

.profileImage{
    height:500px;
    overflow: hidden;
    position: relative;
    padding:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    &::after{
        content:"";
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
        background-color: rgba($orange
    ,0.25);
    }
    img {
        height: 500px;
        filter:grayscale(100%);
        margin:auto;
    }
}


.bottomSection{
    .name{
        font-size:30px;
        font-weight:600;
        text-align: center;
        color:$black;
        margin-bottom: 20px;
        position: relative;
        border-bottom: 1px solid rgba($black, 0.25)

    }
}

.timeline{
    .block{
        color:$orange;
        position: relative;
        padding:10px 0;
        &:not(:last-child){
            border-bottom: 1px solid darken($orange,36%);
            &::before{
                content:"";
                position: absolute;
                top:46px;
                bottom: 0;
                left: -1.5rem;
                margin: auto;
                height: 100%;
                width:2px;
                background-color: orange;
            }
        }
        .heading{
            font-size:24px;
            font-weight: 600;
            margin-bottom: 10px;
            position:relative;
            &::before{
                content:"";
                position: absolute;
                height:10px;
                width:10px;
                background-color: orange;
                border-radius: 500px;
                top:12px;
                left:-28px;
            }
        }
        .subHeading{
            font-size:16px;
            font-weight:normal;
            margin:10px auto 2px;
            position:relative;
            &::before{
                content:"";
                position: absolute;
                height:8px;
                width:8px;
                box-sizing: border-box;
                background-color: $black;
                border-radius: 500px;
                border:1px solid $orange;
                top:8px;
                left:-27px;
            }
        }
    }
}


.skillBlock{
    margin:10px auto;
    .circularProgress{
        height:100px;
        width:100px;
        box-sizing: border-box;
        border-radius: 500px;
        position: relative;
        margin: 20px auto;
        &::before{
            content:"";
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            margin:auto;
            height:90%;
            width:90%;
            border:5px solid darken($orange, 30%);
            border-radius: 500px;
            z-index:1;
            background-color: $black;
        }
        .icon{
            height:80px;
            width:80px;
            z-index:2;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left:0;
            margin:auto;
            display:flex;
            justify-content: center;
            align-items:center;
            font-size:40px;
        }
    }
    .skill{
        text-align: center;
        margin: 10px auto;
        text-transform: uppercase;
        font-size: 14px;
    }
}
@media(min-width:992px){
    .profileWrapper{
        aside{
            position: fixed;
            top:0;
            bottom:0;
            left:0;
            margin:auto;
            width:400px;
        }
        main{
            padding:20px;
            margin-left:400px;
            width:100%;
        }
    }
}

